SECRET_KEY="django-insecure-..."
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
FASTAPI_SERVICE_URL=http://127.0.0.1:8001
ADMIN_EMAILS=admin@example.com
MODERATOR_EMAILS=moderator@example.com
DJANGO_SERVICE_URL=http://127.0.0.1:8000