SECRET_KEY=django-insecure-dev-key-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
FASTAPI_SERVICE_URL=http://127.0.0.1:8001
DJANGO_SERVICE_URL=http://127.0.0.1:8000
ADMIN_EMAILS=admin@example.com
MODERATOR_EMAILS=moderator@example.com